In [52]:
import os
from dotenv import load_dotenv
load_dotenv()
import pandas as pd
import requests
import time
from bs4 import BeautifulSoup

In [53]:
url = (f"http://openapi.seoul.go.kr:8088/{KEY}/xml/dreamMoney/1/5/")
KEY = os.getenv('KEY')
payload = dict(KEY = 'KEY', TYPE = "xml", SERVICE = "dreamMoney", START_INDEX = 1, END_INDEX = 8)
url = f"http://openapi.seoul.go.kr:8088/{KEY}/xml/dreamMoney/1/5/"
r = requests.get(url, params = payload)
print(r.status_code)
data = r.text
data

200

'<?xml version="1.0" encoding="UTF-8"?><searchLoOrgIrList><list_total_count>7</list_total_count><RESULT><CODE>INFO-000</CODE><MESSAGE>정상 처리되었습니다.</MESSAGE></RESULT>    <row>        <lo_org_cd>B01</lo_org_cd>        <lo_org_nm>국민은행</lo_org_nm>        <base_str_dt>20240425</base_str_dt>        <base_end_dt>20240724</base_end_dt>        <lo_cnt>2185</lo_cnt>        <min_lo_ir>5</min_lo_ir>        <max_lo_ir>5.8</max_lo_ir>        <avg_lo_ir>5.31</avg_lo_ir>        <min_lo_ale_ir>1.75</min_lo_ale_ir>        <max_lo_ale_ir>2.5</max_lo_ale_ir>        <avg_lo_ale_ir>1.85</avg_lo_ale_ir>    </row>    <row>        <lo_org_cd>B02</lo_org_cd>        <lo_org_nm>농협은행</lo_org_nm>        <base_str_dt>20240425</base_str_dt>        <base_end_dt>20240724</base_end_dt>        <lo_cnt>1653</lo_cnt>        <min_lo_ir>5.22</min_lo_ir>        <max_lo_ir>5.9</max_lo_ir>        <avg_lo_ir>5.34</avg_lo_ir>        <min_lo_ale_ir>1.75</min_lo_ale_ir>        <max_lo_ale_ir>2.5</max_lo_ale_ir>        <avg_lo_ale_ir>1.87</avg_lo_ale_ir>    </row>    <row>        <lo_org_cd>B06</lo_org_cd>        <lo_org_nm>신한은행</lo_org_nm>        <base_str_dt>20240425</base_str_dt>        <base_end_dt>20240724</base_end_dt>        <lo_cnt>2176</lo_cnt>        <min_lo_ir>5.2</min_lo_ir>        <max_lo_ir>6</max_lo_ir>        <avg_lo_ir>5.33</avg_lo_ir>        <min_lo_ale_ir>1.75</min_lo_ale_ir>        <max_lo_ale_ir>2.5</max_lo_ale_ir>        <avg_lo_ale_ir>1.86</avg_lo_ale_ir>    </row>    <row>        <lo_org_cd>B07</lo_org_cd>        <lo_org_nm>우리은행</lo_org_nm>        <base_str_dt>20240425</base_str_dt>        <base_end_dt>20240724</base_end_dt>        <lo_cnt>3591</lo_cnt>        <min_lo_ir>5.22</min_lo_ir>        <max_lo_ir>5.78</max_lo_ir>        <avg_lo_ir>5.34</avg_lo_ir>        <min_lo_ale_ir>1.75</min_lo_ale_ir>        <max_lo_ale_ir>2.5</max_lo_ale_ir>        <avg_lo_ale_ir>1.84</avg_lo_ale_ir>    </row>    <row>        <lo_org_cd>B08</lo_org_cd>        <lo_org_nm>기업은행</lo_org_nm>        <base_str_dt>20240425</base_str_dt>        <base_end_dt>20240724</base_end_dt>        <lo_cnt>644</lo_cnt>        <min_lo_ir>5.03</min_lo_ir>        <max_lo_ir>5.8</max_lo_ir>        <avg_lo_ir>5.35</avg_lo_ir>        <min_lo_ale_ir>1.75</min_lo_ale_ir>        <max_lo_ale_ir>2.5</max_lo_ale_ir>        <avg_lo_ale_ir>1.91</avg_lo_ale_ir>    </row></searchLoOrgIrList>'

In [57]:
result = []

soup = BeautifulSoup(data, 'xml')

for item in soup.find_all('row'):
    result2 = {}
    for tags in item:
        result2[tags.name] = tags.text
    result.append(result2)

if result:
    final_df2 = pd.DataFrame(result)
final_df2

,None,lo_org_cd,lo_org_nm,base_str_dt,base_end_dt,lo_cnt,min_lo_ir,max_lo_ir,avg_lo_ir,min_lo_ale_ir,max_lo_ale_ir,avg_lo_ale_ir
0,,B01,국민은행,20240425,20240724,2185,5,5.8,5.31,1.75,2.5,1.85
1,,B02,농협은행,20240425,20240724,1653,5.22,5.9,5.34,1.75,2.5,1.87
2,,B06,신한은행,20240425,20240724,2176,5.2,6,5.33,1.75,2.5,1.86
3,,B07,우리은행,20240425,20240724,3591,5.22,5.78,5.34,1.75,2.5,1.84
4,,B08,기업은행,20240425,20240724,644,5.03,5.8,5.35,1.75,2.5,1.91

In [45]:
keys = {}
for item in soup.find_all('row'):
    for tag in item:
        if tag.name == None:
            continue
        else:
            keys.setdefault(tag.name, '')

for key in keys:
    print(soup.find_all(key))

[<lo_org_cd>B01</lo_org_cd>, <lo_org_cd>B02</lo_org_cd>, <lo_org_cd>B06</lo_org_cd>, <lo_org_cd>B07</lo_org_cd>, <lo_org_cd>B08</lo_org_cd>]
[<lo_org_nm>국민은행</lo_org_nm>, <lo_org_nm>농협은행</lo_org_nm>, <lo_org_nm>신한은행</lo_org_nm>, <lo_org_nm>우리은행</lo_org_nm>, <lo_org_nm>기업은행</lo_org_nm>]
[<base_str_dt>20240425</base_str_dt>, <base_str_dt>20240425</base_str_dt>, <base_str_dt>20240425</base_str_dt>, <base_str_dt>20240425</base_str_dt>, <base_str_dt>20240425</base_str_dt>]
[<base_end_dt>20240724</base_end_dt>, <base_end_dt>20240724</base_end_dt>, <base_end_dt>20240724</base_end_dt>, <base_end_dt>20240724</base_end_dt>, <base_end_dt>20240724</base_end_dt>]
[<lo_cnt>2185</lo_cnt>, <lo_cnt>1653</lo_cnt>, <lo_cnt>2176</lo_cnt>, <lo_cnt>3591</lo_cnt>, <lo_cnt>644</lo_cnt>]
[<min_lo_ir>5</min_lo_ir>, <min_lo_ir>5.22</min_lo_ir>, <min_lo_ir>5.2</min_lo_ir>, <min_lo_ir>5.22</min_lo_ir>, <min_lo_ir>5.03</min_lo_ir>]
[<max_lo_ir>5.8</max_lo_ir>, <max_lo_ir>5.9</max_lo_ir>, <max_lo_ir>6</max_lo_ir>, <max_lo_ir>5.78</max_lo_ir>, <max_lo_ir>5.8</max_lo_ir>]
[<avg_lo_ir>5.31</avg_lo_ir>, <avg_lo_ir>5.34</avg_lo_ir>, <avg_lo_ir>5.33</avg_lo_ir>, <avg_lo_ir>5.34</avg_lo_ir>, <avg_lo_ir>5.35</avg_lo_ir>]
[<min_lo_ale_ir>1.75</min_lo_ale_ir>, <min_lo_ale_ir>1.75</min_lo_ale_ir>, <min_lo_ale_ir>1.75</min_lo_ale_ir>, <min_lo_ale_ir>1.75</min_lo_ale_ir>, <min_lo_ale_ir>1.75</min_lo_ale_ir>]
[<max_lo_ale_ir>2.5</max_lo_ale_ir>, <max_lo_ale_ir>2.5</max_lo_ale_ir>, <max_lo_ale_ir>2.5</max_lo_ale_ir>, <max_lo_ale_ir>2.5</max_lo_ale_ir>, <max_lo_ale_ir>2.5</max_lo_ale_ir>]
[<avg_lo_ale_ir>1.85</avg_lo_ale_ir>, <avg_lo_ale_ir>1.87</avg_lo_ale_ir>, <avg_lo_ale_ir>1.86</avg_lo_ale_ir>, <avg_lo_ale_ir>1.84</avg_lo_ale_ir>, <avg_lo_ale_ir>1.91</avg_lo_ale_ir>]

In [50]:
result = {}
keys = {}
for item in soup.find_all('row'):
    for tag in item:
        if tag.name == None:
            continue
        else:
            keys.setdefault(tag.name, '')

for key in keys:
    for item in soup.find_all(key):
        result.setdefault(item.name, []).append(item.string)
result

if result:
    result_df = pd.DataFrame(result)
result_df

,lo_org_cd,lo_org_nm,base_str_dt,base_end_dt,lo_cnt,min_lo_ir,max_lo_ir,avg_lo_ir,min_lo_ale_ir,max_lo_ale_ir,avg_lo_ale_ir
0,B01,국민은행,20240425,20240724,2185,5,5.8,5.31,1.75,2.5,1.85
1,B02,농협은행,20240425,20240724,1653,5.22,5.9,5.34,1.75,2.5,1.87
2,B06,신한은행,20240425,20240724,2176,5.2,6,5.33,1.75,2.5,1.86
3,B07,우리은행,20240425,20240724,3591,5.22,5.78,5.34,1.75,2.5,1.84
4,B08,기업은행,20240425,20240724,644,5.03,5.8,5.35,1.75,2.5,1.91